<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Couple-Tivity"></Label>
</ActionBar>
<StackLayout>
    <Label class="text-center text-primary m-y-10 h3" text="Add a new activity" textWrap="true"></Label>
    <StackLayout class="hr-light m-10"></StackLayout>
    <RadDataForm [source]="activity"></RadDataForm>

    <Button text="Submit Activity" class="m-t-4 btn btn-primary btn-rounded-lg" (tap)="submit()"></Button>
</StackLayout>
